@media screen and (min-height: 521px){
form{
	width:350px;
	}
#msgEnvio{
	width:350px;
	margin-left: 120px;
	margin-top: 60px;
	float:left;
	}
form input, label, textarea{
	display: block;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#000;
	}
form input, textarea{
	background-color:#DBDBEA;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px;
	border-style:solid;
	border-color:#DDDDDD;
	}
form label{
	margin: 8px 0 4px 0;
	}
form input{
	width:350px;
	height:30px;	
	}
form textarea{
	width:350px;
	height: 153px;
}
.enviarBtn {
background: url(../images/enviar.png) no-repeat;
border: 0px;
display: block;
cursor: pointer;
width: 100px;
height: 25px;
float: left;
margin:10px 10px 0 0;
}
.limparBtn {
background: url(../images/limpar.png) no-repeat;
border: 0px;
display: block;
cursor: pointer;
width: 100px;
height: 25px;
margin:10px 10px 0 0;
float: left;
}
	
}
@media screen and (max-height: 520px){
form{
	width:350px;
	}
#msgEnvio{
	width:350px;
	margin-left: 120px;
	margin-top: 5px;
	float:left;	
	}
form input, label, textarea{
	display: block;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#000;
	}
form input, textarea{
	background-color:#DBDBEA;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px;
	border-style:solid;
	border-color:#DDDDDD;
	}
form label{
	margin: 4px 0 2px 0;
	}
form input{
	width:350px;
	height:24px;	
	}
form textarea{
	width:350px;
	height: 130px;
}
.enviarBtn {
background: url(../images/enviar.png) no-repeat;
border: 0px;
display: block;
cursor: pointer;
width: 100px;
height: 25px;
float: left;
margin:10px 10px 0 0;
}
.limparBtn {
background: url(../images/limpar.png) no-repeat;
border: 0px;
display: block;
cursor: pointer;
width: 100px;
height: 25px;
margin:10px 10px 0 0;
float: left;
}

}



