#nav{
	float:right;
	margin-top: 53px;
	margin-right: 135px;
	}
ul{
	border-bottom-style: solid;
	border-bottom-color:#007D32;
	border-bottom-width: 2px;
	width:350px;
	
	
	}
ul li{
	list-style:none;
	display:inline-block;
	margin: 4px;
}