/*  // ================== Resets !======================== \\   */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,
sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,
caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,
figure,figcaption,hgroup,menu,header,footer,nav,section,
summary,time,mark,audio,video{
margin:0;padding:0;border:0
}
article,aside,canvas,figure,figure img,figcaption,hgroup,footer,header,
nav,section,audio,video{
display:block
}
a img{border:0}
/*  // ================== Resets !======================== \\   */
body{
	background-color:#222222;
	}

@media screen and (min-height: 521px){
#header{
	height:140px;
	width: 970px;
	background-color: #fff;
	position: fixed;
	margin-top: 0px;	
	margin-left:-485px;
	left:50%;
	z-index:999;	
	}
#logotipo{
	width:355px;
	height:61px; 
	margin-left:35px;
	margin-top:40px; 
}
/*----NAVEGAÇAO-----*/
#nav{
	float:right;
	margin-top: 53px;
	margin-right: 135px;
	}
ul{
	border-bottom-style: solid;
	border-bottom-color:#007D32;
	border-bottom-width: 2px;
	width:350px;
	
	
	}
ul li{
	list-style:none;
	display:inline-block;
	margin: 4px;
}
/*----FIM NAVEGAÇAO-----*/
#inicio{
	height:900px;
	background-color:#fff;
	}
#imgInicio{
	width:337px;
	height:269px;
}
#iniLeft{
	width: 337px;
	margin-left: 35px;
	margin-top: 50px;
	float:left;
	}
#iniRight{
	float:left;
	width:455px;
	margin-left:65px;
}
#txtDois{
	margin-top:70px;
}
#procedimentos{
	height:900px;
	background-color:#ECECFB;
	}
#imgProcedimentos{
	margin-left:50px;
	margin-top:30px;
	width: 869px;
	height:483px;
	}
#convenios{
	height:900px;
	background-color: #fff;
	}
#contato{
	height:900px;
	background-color: #ECECFB;
	}
#rodape{
	height:200px;
	}
.topicos{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 36px;
	color: #007D32;
	margin-left: 80px;
	padding-top: 220px;
	}
#endereco{
	width:306px;
	float:left;
	margin-left: 70px;
	margin-top:90px;" 
}
}

@media screen and (max-height: 520px){
#header{
	height:71px;
	width: 970px;
	background-color: #fff;
	position: fixed;
	margin-top: 0px;	
	margin-left:-485px;
	left:50%;
	z-index:999;	
	}
#logotipo{
	width:345px;
	height:51px; 
	margin-left:45px;
	margin-top:10px; 
}
/*----NAVEGAÇAO-----*/
#nav{
	float:right;
	margin-top: 20px;
	margin-right: 135px;
	}
ul{
	border-bottom-style: solid;
	border-bottom-color:#007D32;
	border-bottom-width: 2px;
	width:350px;
	
	
	}
ul li{
	list-style:none;
	display:inline-block;
	margin: 4px;
}
/*----FIM NAVEGAÇAO-----*/
#inicio{
	height:600px;
	background-color: #fff;
	}
#imgInicio{
	width:257px;
	height:189px;
	margin-left: 35px;
}
#iniLeft{
	width: 337px;
	margin-left: 35px;
	margin-top: 20px;
	float:left;
	}
#iniRight{
	float:left;
	width:455px;
	margin-left:65px;
}
#txtDois{
	margin-top:-10px;
}
#procedimentos{
	height:600px;
	background-color:#ECECFB;
	}
#imgProcedimentos{
	margin-left:80px;
	margin-top:-35px;
	width: 799px;
	height:413px;
	}
#convenios{
	height:600px;
	background-color: #fff;
	}
#contato{
	height:600px;
	background-color: #ECECFB;
	}
#rodape{
	height:200px;
	}
.topicos{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 36px;
	color: #007D32;
	margin-left: 80px;
	padding-top: 80px;
	}
#endereco{
	width:306px;
	float:left;
	margin-left: 70px;
	margin-top:10px;" 
}
}

a:link {
	text-decoration: none;
	color:#000;
}
a:hover {
	text-decoration: underline;
	color:#000;
}
a:visited {
	text-decoration: none;
	color:#000;
}
a.linkUm:link{
	text-decoration: none;
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
}
a.linkUm:hover{
	text-decoration: none;
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
}
a.linkUm:visited{
	text-decoration: none;
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
}
.fonte1{
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	color: #000;
}
.fonte2{
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	color: #007D32;
	}
.fonte3{
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	color: #000;
	}
.fonte4{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color: #fff;
	}
.fonte5{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color: #C00;
	}
h1{
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	color:#007D32;
	}
h2{
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#000;
	}
#content{
	width: 970px;
	position:absolute;
	left:50%;
	margin-left:-485px;
	background-color:#222222;
	z-index:998;
	
	}
#scrollToTop:link,#scrollToTop:visited { 
	color: transparent;
	background-color: transparent;
	display: none;
	width:91px;
	height:91px;
	position: fixed;
	bottom: 30px; 
	margin-right:0px;
	left:50%;
	margin-left:490px;
}

