// Responsive
desktop-base-width     = 1100px
rupture.desktop-cutoff = $tablet = 1200px
rupture.mobile-cutoff  = $mobile = 768px
rupture.anti-overlap   = -1px

// Images path
$img($image)
    url('../img/layout/' + $image)

// Colors
$verde = #007D32

// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700')
roboto($size, $style = normal)
    font-size $size + 0px
    font-family 'Roboto Condensed', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    font-style $style

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700')
opensans($size, $style = normal)
    font-size $size + 0px
    font-family 'Open Sans', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    font-style $style
