header
    height 120px
    background #fff
    border-bottom 2px solid $verde
    position fixed
    top 0
    left 0
    right 0
    z-index 101
    transition height .1s
    +below($tablet)
        position absolute
        height 120px !important
    .center
        position relative
        height 100%
    .header-logo
        display block
        float left
        width 232px
        height 100%
        background $img('vistaclin.png') no-repeat center
        background-size 100% auto
        text-indent -9999px
        transition all .3s
        +tablet()
            width 200px
        +mobile()
            width 160px
    &.shrink
        height 70px
        .header-logo
            width 180px
    .nav-wrapper
        height 100%
        float right
        display table
        +below($tablet)
            display block
            height auto
            position absolute
            right 0
            bottom 25px
        +mobile()
            bottom 15px
        nav
            display table-cell
            vertical-align middle
            height 100%
            a
                roboto 15
                display inline-block
                text-transform uppercase
                color #666
                text-decoration none
                margin-left 10px
                position relative
                transition color .3s
                +below($tablet)
                    display none
                &:after
                    content ''
                    position absolute
                    bottom -6px
                    left 50%
                    margin-left 0
                    width 0
                    height 1px
                    background $verde
                    transition all .3s
                &:hover
                    color $verde
                    &:after
                        width 20px
                        margin-left -10px
            .telefones
                display inline-block
                cursor default
                color #666
                opensans 14 bold
                position relative
                margin-left 30px
                &:before
                    content ''
                    position absolute
                    left -16px
                    height 22px
                    width 1px
                    top 50%
                    margin-top -11px
                    background $verde
                p
                    display inline-block
                    margin 0
                    &:after
                        content '\00b7'
                        margin 0 6px
                    &:last-child:after
                        display none
                +below($tablet)
                    margin-left 0
                    &:before
                        display none
                +mobile()
                    opensans 13 bold
                    p
                        display block
                        &:after
                            display none
    #mobile-handle
    #nav-mobile
        +above($tablet)
            display none !important
    #mobile-handle
        display inline-block
        position absolute
        right 0
        top 25px
        background #fff
        padding 7px 26px
        color $verde
        roboto 15
        border 2px solid $verde
        text-decoration none
        transition background .3s, color .3s
        +mobile()
            top 20px
        &.close
            background $verde
            color #fff
    #nav-mobile
        display none
        position absolute
        top 120px
        width 100%
        background $verde
        padding 20px 5%
        text-align center
        a
            display block
            roboto 16
            color #fff
            text-decoration none
            text-transform uppercase
            margin 8px 0

section
    padding 50px 0
    background #F0F0F0
    +below($tablet)
        padding 5% 0
    h2
        roboto 36
        text-align center
        color #000
        margin 0 0 30px
        +mobile()
            roboto 24
            margin-bottom 20px
    h2 + h3
        margin-top -20px
        +mobile()
            margin-top -10px
    h3
        roboto 24
        text-align center
        color $verde
        margin 0 0 30px
        +mobile()
            roboto 16
            margin-bottom 20px

#not-found
    display table
    position absolute
    width 100%
    height 100%
    top 0
    left 0
    text-align center
    background $verde
    .wrapper
        display table-cell
        vertical-align middle
        padding 30px 0
    img
        display inline-block
        max-width 100%
    h3
        display block
        padding 10px
        roboto 16
        color #fff
    a
        display inline-block
        background #fff
        padding 10px
        roboto 14
        color #000
        text-decoration none
        border 2px solid #fff
        transition background .3s, color .3s
        &:hover
            background transparent
            color #fff

footer
    background $verde
    padding 8px 0
    opensans 11
    text-align center
    color #fff
    p
        margin 0
    span
        display inline-block
        height 13px
        margin 0 5px
        vertical-align bottom
        width 1px
        background #fff
        +mobile()
            display block
            height 1px
            background transparent
    a
        color #fff
        text-decoration none
        &:hover
            text-decoration underline

.fancybox-skin
    border-radius 0 !important
    background #fff !important
    box-shadow none !important

.fancybox-close
    background $img('close.png') no-repeat center !important
    top -36px !important
    right -12px !important
