section#banners
    padding 0 !important
    .banners-wrapper
        width 100%
        height 510px
        position relative
        +tablet()
            height 450px
        +mobile()
            height 320px
        .banner
            width 100%
            height 100%
            position absolute
            top 0
            left 0
            background-size cover
            background-position center
            .center
                position relative
                height 100%
                +mobile()
                    width 100%
        .banner-content-wrapper
            position absolute
            width 50%
            height 100%
            display table
            +mobile()
                width 100%
        .banner-content
            display table-cell
            vertical-align middle
            +mobile()
                height 100%
                background rgba(#1a222f, .7)
                text-align center
        .banner-content-box
            background-image linear-gradient(90deg, #1a222f 0%, #5b5d63 100%)
            padding 30px
            color #fff
            +mobile()
                background-image none
                padding 0
            h1
                margin 0 0 .25em
                roboto 60
            p
                roboto 24
                margin 0
                line-height 1.5
            +tablet()
                padding 20px
                h1
                    roboto 40
                p
                    roboto 20
            +mobile()
                padding 0 5%
                h1
                    roboto 28
                p
                    roboto 16
