section#contato
    clearfix()
    .contato-info
        width 56%
        float left
        +mobile()
            width 100%
            text-align center
        .endereco p
            roboto 20
            color #000
            margin 0
            line-height 1.4
            +mobile()
                display inline
                &:after
                    content " · "
                &.telefone
                    display block
                    &:after
                        display none
                &:last-of-type:after
                    display none
        .telefones
            margin-bottom 6px
            p
                roboto 28
                margin 0
                display inline-block
                &:after
                    content "·"
                    margin 0 10px
                &:last-child:after
                    content ""
                +mobile()
                    roboto 24
            span
                roboto 16
        .googlemaps
            width 100%
            height 308px
            margin-top 25px
            iframe
                width 100%
                height 100%
                display block
            +tablet()
                height 280px
            +mobile()
                margin-bottom 25px
    .contato-form
        width 37%
        float right
        +mobile()
            width 100%
        input
        textarea
            background #fff
            border 0
            outline 0
            width 100%
            display block
            resize none
            padding 10px
            roboto 16
            color #000
            margin-bottom 3px
            &[type=submit]
                background $verde
                text-align left
                color #fff
                transition background .3s
                margin-bottom 0
                font-weight 700
                &:hover
                    background darken($verde, 15)
        textarea
            height 259px
        #form-contato-response
            display none
            width 100%
            padding 10px
            border 1px solid $verde
            margin-top 5px
            text-align center
            roboto 12
