section#convenios
    background #fff
    .convenios-thumbs
        clearfix()
        width 640px
        margin 50px auto 0
        +below($tablet)
            margin-top 20px
            width 100%
        div
            width 25%
            float left
            border 1px solid #CDCDCD
            margin-top -1px
            margin-left -1px
            +tablet()
                width 16.6667%
            +mobile()
                width 33.3333%
            img
                width 100%
                height auto
                display block
