section#doencas-oculares
    background $verde
    h2
    h3
        color #fff
    .doencas-oculares-thumbs
        display flex
        flex-wrap wrap
        margin-top 50px
        clearfix()
        font-size 0
        +below($tablet)
            margin-top 20px
        a
            position relative
            display inline-block
            background #fff
            width 24.318%
            margin-right 0.909%
            margin-bottom 0.909%
            vertical-align top
            roboto 12
            text-decoration none
            color #000
            transition background .3s
            &:nth-child(4n)
                margin-right 0
            +tablet()
                width 32.7273%
                &:nth-child(4n)
                    margin-right 0.909%
                &:nth-child(3n)
                    margin-right 0
            +mobile()
                width 49.25%
                margin-right 1.5%
                margin-bottom 1.5%
                &:nth-child(4n)
                    margin-right 1.5%
                &:nth-child(2n)
                    margin-right 0
            &:hover
                background darken($verde, 10)
                .texto p
                .texto h4
                    color #fff
            &:after
                content ''
                position absolute
                width 14px
                height 14px
                right 5px
                bottom 5px
                background $img('mais-small.png') no-repeat center
            img
                width 100%
                height auto
                vertical-align top
            .texto
                padding 10px 10px 20px
                h4
                    roboto 24
                    text-transform uppercase
                    text-align center
                    color $verde
                    margin 0 0 5px
                p
                    margin 0
                    line-height 1.4
                h4
                p
                    transition color .3s

.doenca-lightbox
    clearfix()
    padding 40px
    width 980px
    +below($tablet)
        width auto
        padding 25px
    +mobile()
        padding 20px
    .doenca-titulo
        text-align center
        img
            max-width 100%
            vertical-align top
        h1
            color $verde
            roboto 36
            text-transform uppercase
            +tablet()
                roboto 32
            +mobile()
                roboto 28
    .doenca-texto
        p
            roboto 16
            line-height 1.5
            &:last-child
                margin-bottom 0
