section#institucional
    padding 0
    .institucional-imagens
        background #666666
        padding 50px 0 0
        margin-bottom -80px
        +below($tablet)
            margin-bottom -50px
            padding 5% 0 0
        h2
        h3
            color #fff
        h2
            font-size 46px
            +mobile()
                font-size 24px
        .imagens
            clearfix()
            margin-top 50px
            +below($tablet)
                margin-top 0
            a
                display block
                width 33.33%
                float left
                border 1px solid #fff
                margin-left -1px
                position relative
                &:before
                    content ''
                    width 30px
                    height 30px
                    bottom 10px
                    right 10px
                    position absolute
                    background $img('mais.png') no-repeat center
                    z-index 2
                &:after
                    content ''
                    position absolute
                    width 100%
                    height 100%
                    top 0
                    left 0
                    background $verde
                    opacity 0
                    transition opacity .3s
                &:hover:after
                    opacity .7
                img
                    width 100%
                    display block
                    height auto
    .institucional-texto
        background #fff
        padding-top 140px
        padding-bottom 50px
        text-align center
        +below($tablet)
            padding-top 90px
            padding-bottom 5%
        +mobile()
            padding-top 70px
        .saiba-mais
            roboto 24
            color $verde
            text-decoration none
            padding-right 32px
            line-height 22px
            background $img('saibamais.png') no-repeat center right
            transition color .3s
            +mobile()
                roboto 20
            &.open
                color #666
        .hidden
            display none
        .texto
            padding-top 20px
            roboto 16
            line-height 1.5
            text-align left
            +below($tablet)
                padding-top 2.5%
        h2
            roboto 46
            color $verde
            margin 1em 0 0
            +mobile()
                roboto 24
        .corpo-clinico
            font-size 0
            +above($tablet)
                width 80%
                margin 0 auto
            .medico
                roboto 16
                display inline-block
                width 33.33%
                color #444
                padding 0 5%
                margin-top 4%
                vertical-align top
                +mobile()
                    roboto 14
                img
                    max-width 100%
                    border-radius 100%
                    border 2px solid $verde
                .titulo
                    font-weight 700
                    margin .3em 0 .5em
                p
                    margin 0
