section#procedimentos
    h2
        font-size 46px
        color $verde
        &.exames
            margin-top 1em
        +mobile()
            font-size 24px
    .procedimentos-list
        clearfix()
        width 820px
        margin 60px auto 0
        font-size 0
        +below($tablet)
            margin-top 40px
            width 100%
        +mobile()
            margin-top 20px
        div
            width 50%
            display inline-block
            vertical-align top
            roboto 16
            text-align right
            padding-right 40px
            margin-bottom 40px
            +tablet()
                padding-right 20px
            +mobile()
                width 100%
                padding 0 !important
                text-align left !important
                margin-bottom 20px
            &:nth-child(2n)
                text-align left
                padding-right 0
                padding-left 40px
                +tablet()
                    padding-left 20px
            h4
                color $verde
                text-transform uppercase
                roboto 24
                margin 0 0 5px
                +mobile()
                    roboto 20
            h5
                margin 0 0 5px
                color $verde
                roboto 14
            p
                roboto 16
                margin 0
